@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse-custom {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.pulse {
  animation: pulse-custom 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.content {
  width: 381px;
  height: 222px;
  overflow: scroll;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  opacity: 0;
}
